/*csslint ids: false, box-model: false*/


/********************
GENERAL
********************/

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

#wrapper {
    /*Margin 0 is for all sides, auto.*/
    margin: 0 auto;
    /*max-width is related to width. But instead of width, max-width that it can be smaller for mobile/tablets.*/
    max-width: 940px;
    /*Values first one is top and bottom. Second one is left and right*/
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-height: 100%;
}

h3 {
    margin: 0 0 1em 0;
}


/********************
HEADER
********************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    margin: 0;
    /*Our name and who we are.*/
    text-align: center;
}

h1 {
    color: #fff;
    font-family: 'Sarala', sans-serif;
    font-size: 1.75em;
    margin: 15px 0;
}

h2 {
    color: #fff;
    font-size: 0.75em;
    /*1st value if for the top. 2nd value is for the left and right. 3rd value is for the bottom.*/
    font-weight: normal;
    margin: -5px 0 0;
    margin-bottom: 20px;
}

/********************
NAVIGATION
********************/

nav {
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10px 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/********************
FOOTER
********************/

footer {
    clear: both;
    color: #ccc;
    font-size: 0.75em;
    padding-top: 50px;
    text-align: center;
}

.social-media-icon {
    height: 20px;
    margin: 0 5px;
    width: 20px;
}


/********************
PAGE PORTFOLIO
********************/

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li {
    background-color: whitesmoke;
    color: white;
    float: left;
    margin: 2.5%;
    width: 45%;
}

#gallery li a p {
    color: black;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
}


/********************
ABOUT ME PAGE
********************/

.profile-photo {
    border-radius: 25%;
    display: block;
    max-width: 30px;
}


/********************
CONTACT INFO
********************/

.contact-info {
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-info a {
    /*By default it will always repeat, background image*/
    background-repeat: no-repeat;
    /*resize the background img*/
    background-size: 20px 20px;
    display: block;
    margin: 0 0 10px;
    min-height: 20px;
    padding: 0 0 0 30px;
}

.contact-info .mail a {
    background-image: url('../img/mail.png');
}

.contact-info .twitter a {
    background-image: url('../img/twitter.png');
}


/********************
COLORS
********************/

body {
    background-color: white; 
       color: black;
}



header {
    background: #000080;
}


nav {
    background: #000243;
}


/*Psuedo-class*/

nav a,
nav a:visited {
    color: #fff;
}

nav .selected,
nav a:hover {
    color: aqua;
}


/*******************
MEDIA Queries
*******************/


/*TWO COLUMN LAYOUT*/

@media screen and (min-width: 480px) {
    #primary {
        float: left;
        width: 50%;
    }
    #secondary {
        float: right;
        width: 40%;
    }
    /*THREE COLUMN LAYOUT PORTFOLIO*/
    #gallery {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    /*ABOUT PAGE*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px) {
    /*NAV*/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}