/*csslint ids: false, box-model: false*/
/*Here I add a background-image into page 1.*/
#page1{
background-image: url('http://www.cookehouse.net/wp-content/uploads/2013/11/iStock_000009958532Medium.jpg');
    background-size: cover;
}
/*Here I add a background-image into page 2.*/
#page2{
background-image: url('http://sharpercut.com/wp-content/uploads/2013/03/nature_plants_green_grass_015677_.jpg');
    background-size: cover;
}
/*Here I add a background-image into page 3.*/
#page3{
background-image: url('http://emzingo.com/wp-content/uploads/2015/07/Rio-de-Janeiro.jpg');
    background-size: cover;
}